<form method="post" action="/roles/new">
	<label for="role_title_input">What is the name of the Role?</label>
	<input id="role_title_input" name="role[title]" type="text" placeholder="name">

	<label for="role_description_input">Type:</label>
	<input id="role_description_input" name="role[description]" type="text" placeholder="type">

	<input type="submit" value="Add the role!" class="button">
</form>
