<h3>Welcome to the Petersville Union high school Play Sign Up and Role Cataloguing System, or</h3>

<h1>PUPSUCS!</h1>

<h3>Sign up or add a role below:</h3>

<p>
<a href="/auditions">Sign up for the play!</a>
</p>

<p>
<a href="/roles">Add a role!</a>
</p>
