<form method="post" action="/auditions/new">
	<label for="audition_title_input">What is your name?</label>
	<input id="audition_title_input" name="audition[title]" type="text" placeholder="name">

	<label for="audition_monologue_input">Description:</label>
	<input id="audition_monologue_input" name="audition[monologue]" type="text" placeholder="monologue">

	<input type="submit" value="Sign up for the play!" class="button">
</form>
